.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container.section-hidden-heading {
  padding-top: 94px;
  padding-bottom: 0px;
}